* {
box-sizing:border-box;
}

body {
  margin: 0;
  background-color: rgb(168, 63, 241);
}

img {
  max-width: 100%;
}

.flex-container {
  background: rgb(40, 227, 53);
  width:600px;
  height:400px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.items {
  background:rgb(64, 55, 232);
  color: white;
  width:150px;
  height:50px;
  margin: 5px;
}
