p {
  font-size: 25px;
  color: blue;
  text-align: center;
  }

  ul {
    color: blue;
    font-size: 20px;
  }

  body {
    background-color: #eee8aa;
  }

  h1 {
    color: hotpink;
    font-family: impact;
    font-size: 55px;
    text-align: center;
  }

  h3 {
    color: blue;
    text-align: center;
    font-size: 17px;
    margin: 20px;
    padding: 50px;
  }

  a:hover {
    background-color: hotpink;
  }

  img {
    max-width: 80px;
    border-style: dotted;
    border-color: hotpink;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    padding: 50px;
  }
